.like-list-div {
  position: relative;
}
.like-list {
  position: absolute;
  width: 100px;
  list-style: none;
  z-index: 1;
  bottom: 10px;
  left: 50px;
}

.btn-emoji {
  position: relative;
}

.emoji-list {
  overflow-x: auto;
  position: absolute;
  z-index: 1;
  bottom: -100px;
  padding: 6px;
  left: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.reactions {
  cursor: pointer;
}

.ui.circular.label.reactions:hover {
  border: grey;
  background-color: #ffffff;
}
